.selectable--wrapper {
    display: flex;
    align-items: center;
}

.selectable--wrapper label {
    margin-right: 5px;
}

select.selectable {
    width: 100%;
    border: 1px solid #e9e9e9;
    background: whitesmoke;
    padding: 10px 10px 10px 12px;
    min-height: 44px;
}
