.table th,
.table td {
    padding: 0.75em;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    table-layout: initial;
}
table thead tr {
    /* background: black;
    color: white; */
    text-transform: capitalize;
    font-size: 1em;
    border-bottom: 1px solid #e9e9e9;
}
table tbody tr {
    border-bottom: 1px solid #e9e9e9;
}
table tbody tr:hover {
    background: rgba(233, 233, 233, 0.3);
}
table tbody tr td {
    text-align: center;
}
