.input {
    font-size: 14px;
}
.input--wrapper {
    color: #808080;
    margin-bottom: 12px;
    position: relative;
}

.input--wrapper .input--text {
    line-height: 22px;
    padding: 10px 12px;
    appearance: none;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    font-size: 14px;
    outline: none;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}
