.scooters--filters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.scooters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
