.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}
section.App {
    max-width: 1368px;
    margin: 0 auto;
    height: 100%;
}
.card {
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(230, 235, 244, 0.4);
    font-size: 1rem;
    background: white;
    padding: 15px 30px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
