@import url('https://fonts.googleapis.com/css?family=Lato');
html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 14px;
    background: #e7e3e3;
}
